**
!dist/
!dist/extension.js
!dist/vendor/
!dist/vendor/core.js
!dist/vendor/core-runtime/
!dist/vendor/core-runtime/package.json
!dist/vendor/core-runtime/*.js
!dist/vendor/core-runtime/node_modules/
!dist/vendor/core-runtime/node_modules/diff/
!dist/vendor/core-runtime/node_modules/diff/package.json
!dist/vendor/core-runtime/node_modules/diff/libcjs/
!dist/vendor/core-runtime/node_modules/diff/libcjs/**/*.js
!dist/vendor/core-runtime/node_modules/diff/libcjs/package.json
!resources/**
!package.json
!package.nls*.json
!README.md
!LICENSE
!node_modules/diff/**
*.vsix
